.viaje2 {
    /* border: solid red; */
    display: none;
    background-color: $color-bg-light;
    width: 100%;
    font-family: $font-poppin;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8rem 2% 4rem 2%;
        &--h3 {
            font-size: 4rem;
            @media only screen and (max-width: $bp-large){
                font-size: 3.5rem;
            }
            @media only screen and (max-width: $bp-medium){
                font-size: 3rem;
            }
            @media only screen and (max-width: $bp-small){
                font-size: 2.5rem;
            }
        }
        &--p {
            text-align: center;
            font-size: 2rem;
            padding: 0 20% 0 20%;
            @media only screen and (max-width: $bp-large){
                font-size: 1.7rem;
            }
            @media only screen and (max-width: $bp-medium){
                font-size: 1.3rem;
            }
            @media only screen and (max-width: $bp-small){
                font-size: 1rem;
            }
        }
        &__slider {
            &__articulos {
                width: 100%;
                display: flex;
                justify-content: space-between;
                /* gap: 2rem; */
                &__servicios {
                    /* border: 3px solid black; */
                    background: linear-gradient(to top, $color-base, $color-bg-light);
                    border-radius: 2rem;
                    box-shadow: 0rem 1rem .3rem;
                    padding: 5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    &--i {
                        font-size: 3rem;
                        background-color: $color-base;
                        color: black;
                        padding: 2rem;
                        border-radius: 1rem;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    &--h4 {
                        font-size: 3rem;
                        @media only screen and (max-width: $bp-medium){
                            font-size: 2.7rem;
                        }
                        @media only screen and (max-width: $bp-small){
                            font-size: 2.3rem;
                        }
                    }
                    &--p {
                        font-size: 2rem;
                        @media only screen and (max-width: $bp-large){
                            font-size: 1.7rem;
                        }
                        @media only screen and (max-width: $bp-medium){
                            font-size: 1.3rem;
                        }
                        @media only screen and (max-width: $bp-small){
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        @media only screen and (max-width: $bp-large){
            padding: 6rem 2% 3rem 2%;
        }
        @media only screen and (max-width: $bp-medium){
            padding: 4rem 2% 2rem 2%;
        }
    }
    @media only screen and (max-width: $bp-large){
        display: block;
        text-align: center;
    }
    &__containerDos {
        padding-bottom: 8rem;
        @media only screen and (max-width: $bp-large){
            padding-bottom: 6rem;
            @media only screen and (max-width: $bp-medium){
                padding-bottom: 4rem;
            }
        }
    }
}