.otros {
    background-color: $color-base;
    font-family: $font-poppin;
    &__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 4rem 4rem 6rem 4rem;
        &--h4 {
            font-size: 5rem;
            margin-bottom: 4rem;
            color: $color-bg-red;
            @media only screen and (max-width: $bp-large){
                font-size: 4rem;
                margin-bottom: 6rem;
            }
            @media only screen and (max-width: $bp-medium){
                font-size: 3rem;
                margin-bottom: 4rem;
            }
        }
        &__targ {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5rem;
            &__inf {
                position: relative;
                width: 45rem;
                height: 35rem;
                @media only screen and (max-width: $bp-xxlarge){
                    width: 37rem;
                    height: 27rem;
                }
                @media only screen and (max-width: $bp-medium){
                    width: 32rem;
                    height: 25rem;
                }
                @media only screen and (max-width: $bp-small){
                    width: 28rem;
                    height: 21rem;
                }
                &__front {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 1rem;
                    backface-visibility: hidden;
                    overflow: hidden;
                    transition: .5s;
                    transform: perspective(600px) rotateY(0deg);
                    box-shadow: 0 .5rem 1rem black;
                    &--img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &--h4 {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 2rem;
                        top: 0;
                        width: 100%;
                        height: 7rem;
                        line-height: 3rem;
                        color: white;
                        background-color: rgba(0, 0, 0, .4);
                        text-align: center;
                        @media only screen and (max-width: $bp-xlarge){
                            font-size: 1.9rem;
                        }
                        @media only screen and (max-width: $bp-large){
                            font-size: 1.7rem;
                        }
                        @media only screen and (max-width: $bp-medium){
                            font-size: 1.5rem;
                        }
                        @media only screen and (max-width: $bp-small){
                            font-size: 1.3rem;
                        }
                    }
                    &--h5 {
                        position: absolute;
                        font-size: 2rem;
                        width: 100%;
                        bottom: 0;
                        height: 4.5rem;
                        line-height: 45px;
                        color: white;
                        background: rgba(0, 0, 0, .4);
                        text-align: center;
                        @media only screen and (max-width: $bp-xlarge){
                            font-size: 1.9rem;
                        }
                        @media only screen and (max-width: $bp-large){
                            font-size: 1.7rem;
                        }
                        @media only screen and (max-width: $bp-medium){
                            font-size: 1.5rem;
                        }
                        @media only screen and (max-width: $bp-small){
                            font-size: 1.3rem;
                        }
                    }
                }
                &__back {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 1rem;
                    backface-visibility: hidden;
                    overflow: hidden;
                    transition: .5s;
                    box-shadow: 0 .5rem 1rem black;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    transform: perspective(600px) rotateY(180deg);
                    background-color: darkred;
                    padding: 1.5rem;
                    color: white;
                    text-align: center;
                    &--h4 {
                        font-size: 2.5rem;
                        @media only screen and (max-width: $bp-xxlarge){
                            font-size: 2.3rem;
                        }
                        @media only screen and (max-width: $bp-xlarge){
                            font-size: 2.1rem;
                        }
                        @media only screen and (max-width: $bp-medium){
                            font-size: 2rem;
                        }
                        @media only screen and (max-width: $bp-small){
                            font-size: 1.5rem;
                        }
                    }
                    &--p {
                        font-size: 1.5rem;
                        letter-spacing: 2px;
                        @media only screen and (max-width: $bp-xxlarge){
                            font-size: 1.3rem;
                            letter-spacing: 1px;
                        }
                        @media only screen and (max-width: $bp-xlarge){
                            font-size: 1.2rem;
                        }
                        @media only screen and (max-width: $bp-medium){
                            font-size: 1.1rem;
                        }
                        @media only screen and (max-width: $bp-small){
                            font-size: .7rem;
                        }
                    }
                    &__cont {
                        border-top: solid 1px white;
                        height: 50px;
                        line-height: 50px;
                        &--link {
                            font-size: 2rem;
                            color: white;
                            @media only screen and (max-width: $bp-medium){
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
                &:hover {
                    .otros__container__targ__inf__front {
                        transform: perspective(600px) rotateY(180deg);
                    }
                    .otros__container__targ__inf__back {
                        transform: perspective(600px) rotateY(360deg);
                    }
                }
            }
        }
    }
}