/* Variables */
$font-poppin: 'Poppins', sans-serif;
$font-Inter: 'Inter', sans-serif;
$color-base: rgb(224, 216, 207);
$color-base-light: rgb(206, 152, 98);
$color-base-dark: rgb(85, 46, 7);
$color-bg-light: rgb(253, 252, 250);
$color-bg-red: darkred;

/* Variables en clases para swiper */
.swiper {
    width: 100%;
    padding: 6% 7px 7rem;
    border-radius: 5rem;
}

.swiper-button-next, .swiper-button-prev {
    width: calc(var(--swiper-navigation-size)/ 30 * 27);
    color: black;
    top: 22%;
}

.swiper-button-next:after, .swiper-button-prev:after {
    @media only screen and (max-width: $bp-medium){
        font-size: 3.3rem;
    }
}

.swiper-pagination-bullet-active {
    background-color: black;
}

/* Variables en clases */

.btn {
    background-color: $color-base;
    font-family: $font-poppin;
    font-weight: 700;
    font-size: 2rem;
    padding: 2rem 3rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    @media only screen and (max-width: $bp-xlarge){
        background-color: $color-base;
        font-family: $font-poppin;
        font-weight: 600;
        font-size: 1.7rem;
        padding: 1.5rem 2.8rem;
        border-radius: .5rem;
    }
    @media only screen and (max-width: $bp-large){
        background-color: $color-base;
        font-family: $font-poppin;
        font-weight: 500;
        font-size: 1.4rem;
        padding: 1rem 2.5rem;
        border-radius: .5rem;
    }
    i {
        margin-left: 1rem;
    }
}

.btn-base {
    background-color: $color-base;
    color: $color-bg-light;
    transition: all .3s;
    &:hover {
        background-color: $color-bg-red;
        transition: all .3s;
    }
}

.btn-base2 {
    background-color: $color-bg-light;
    color: $color-base;
    transition: all .3s;
    &:hover {
        background-color: $color-bg-red;
        transition: all .3s;
    }
}

.centrar-bloque {
    margin-left: auto;
    margin-right: auto;
}

.pack {
    width: 155%;
    @media only screen and (max-width: $bp-large){
        width: auto;
    }
}

/* .bg-base {
    background-color: $color-base;
} */


/* max de 2560px */
.contenedor-max {
    max-width: 265rem;
}
/* max de 1200px */
.contenedor-medium {
    max-width: 198rem;
    @media only screen and (max-width: $bp-xxlarge){
        max-width: 140rem;
    }
    @media only screen and (max-width: $bp-xlarge){
        max-width: 110rem;
    }
    @media only screen and (max-width: $bp-large){
        max-width: 70rem;
    }
    @media only screen and (max-width: $bp-medium){
        max-width: 50rem;
    }
    @media only screen and (max-width: $bp-small){
        max-width: 30rem;
        padding: 0 2rem;
    }
}

/* Tamaño de icons */
.icon {
    font-size: 2rem;
}

/* Margin top */
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-5 {
    margin-top: 5rem;
}
.mt-6 {
    margin-top: 6rem;
}
.mt-7 {
    margin-top: 7rem;
}
.mt-8 {
    margin-top: 8rem;
}
.mt-9 {
    margin-top: 9rem;
}
.mt-10 {
    margin-top: 10rem;
}

/* Margin bottom */
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
}
.mb-4 {
    margin-bottom: 4rem;
}
.mb-5 {
    margin-bottom: 5rem;
}
.mb-6 {
    margin-bottom: 6rem;
}
.mb-7 {
    margin-bottom: 7rem;
}
.mb-8 {
    margin-bottom: 8rem;
}
.mb-9 {
    margin-bottom: 9rem;
}
.mb-10 {
    margin-bottom: 10rem;
}

/* Margin left */
.ml-1 {
    margin-left: 1rem;
}
.ml-2 {
    margin-left: 2rem;
}
.ml-3 {
    margin-left: 3rem;
}
.ml-4 {
    margin-left: 4rem;
}
.ml-5 {
    margin-left: 5rem;
}
.ml-6 {
    margin-left: 6rem;
}
.ml-7 {
    margin-left: 7rem;
}
.ml-8 {
    margin-left: 8rem;
}
.ml-9 {
    margin-left: 9rem;
}
.ml-10 {
    margin-left: 10rem;
}
.ml-11 {
    margin-left: 11rem;
}
.ml-12 {
    margin-left: 12rem;
}

/* Margin right */
.mr-1 {
    margin-right: 1rem;
}
.mr-2 {
    margin-right: 2rem;
}
.mr-3 {
    margin-right: 3rem;
}
.mr-4 {
    margin-right: 4rem;
}
.mr-5 {
    margin-right: 5rem;
}
.mr-6 {
    margin-right: 6rem;
}
.mr-7 {
    margin-right: 7rem;
}
.mr-8 {
    margin-right: 8rem;
}
.mr-9 {
    margin-right: 9rem;
}
.mr-10 {
    margin-right: 10rem;
}
.mr-11 {
    margin-right: 11rem;
}
.mr-12 {
    margin-right: 12rem;
}

/* Padding top */
.pt-1 {
    padding-top: 1rem;
}
.pt-2 {
    padding-top: 2rem;
}
.pt-3 {
    padding-top: 3rem;
}
.pt-4 {
    padding-top: 4rem;
}
.pt-5 {
    padding-top: 5rem;
}
.pt-6 {
    padding-top: 6rem;
}
.pt-7 {
    padding-top: 7rem;
}
.pt-8 {
    padding-top: 8rem;
}
.pt-9 {
    padding-top: 9rem;
}
.pt-10 {
    padding-top: 10rem;
}
.pt-11 {
    padding-top: 11rem;
}
.pt-12 {
    padding-top: 12rem;
}

/* Padding bottom */
.pb-1 {
    padding-bottom: 1rem;
}
.pb-2 {
    padding-bottom: 2rem;
}
.pb-3 {
    padding-bottom: 3rem;
}
.pb-4 {
    padding-bottom: 4rem;
}
.pb-5 {
    padding-bottom: 5rem;
}
.pb-6 {
    padding-bottom: 6rem;
}
.pb-7 {
    padding-bottom: 7rem;
}
.pb-8 {
    padding-bottom: 8rem;
}
.pb-9 {
    padding-bottom: 9rem;
}
.pb-10 {
    padding-bottom: 10rem;
}
.pb-11 {
    padding-bottom: 11rem;
}
.pb-12 {
    padding-bottom: 12rem;
}

/* Padding left */
.pl-1 {
    padding-left: 1rem;
}
.pl-2 {
    padding-left: 2rem;
}
.pl-3 {
    padding-left: 3rem;
}
.pl-4 {
    padding-left: 4rem;
}
.pl-5 {
    padding-left: 5rem;
}
.pl-6 {
    padding-left: 6rem;
}
.pl-7 {
    padding-left: 7rem;
}
.pl-8 {
    padding-left: 8rem;
}
.pl-9 {
    padding-left: 9rem;
}
.pl-10 {
    padding-left: 10rem;
}
.pl-11 {
    padding-left: 11rem;
}
.pl-12 {
    padding-left: 12rem;
}

/* Padding right */
.pr-1 {
    padding-right: 1rem;
}
.pr-2 {
    padding-right: 2rem;
}
.pr-3 {
    padding-right: 3rem;
}
.pr-4 {
    padding-right: 4rem;
}
.pr-5 {
    padding-right: 5rem;
}
.pr-6 {
    padding-right: 6rem;
}
.pr-7 {
    padding-right: 7rem;
}
.pr-8 {
    padding-right: 8rem;
}
.pr-9 {
    padding-right: 9rem;
}
.pr-10 {
    padding-right: 10rem;
}
.pr-11 {
    padding-right: 11rem;
}
.pr-12 {
    padding-right: 12rem;
}